.grid{
    grid-template-columns: 0.7fr 1fr;
    height:100vh;
    width: 100vw;
    line-height: 1.5;
    letter-spacing: em(2);


}

.container_pictures{
    margin-left: em(42);
}


.wraper{
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.1fr;
    grid-template-rows: 1fr;
    justify-items: flex-start;
    align-items: center;
    margin-left: em(25);
    height: 100%;
    width: 80%;
}

.picture{
    position:relative;
    top:em(4);
    grid-column: 1/2;
}

.changing_picture{
    display: inline;
    position: relative;
    height: em(161);
    width: em(167);
    bottom: 22%;
    right: 175%;
    .adding{
        width: 100%;
        height: 100%;
    }
    
    
}

#bgr{
    background-color: #f5c56d;
    height: em(611);
}

.container{
    margin: em(10);
    padding: em(15);
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    justify-items: flex-start;

}

.color_choosing{
    grid-column: 2/4;
    grid-row: 1/2;


}

.color_picker_position{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: em(25);

    p{
        padding-bottom: em(22);
    }
}