.autorcon{
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-row: 3/3;
    grid-column: 1/4;
    align-self: flex-end;
    justify-content: center;
    justify-items: center;
    padding: em(12) 0;
    border-top: em(1) solid $color_darkshades;
    background-color: lighten($color_darkaccent,22%);
    font-size: em(12);

    .fab,.fas{
        font-size: em(18);
        padding: 0 em(12) ;
        font-weight: 800;
        color: $color_darkshades;
        transition: color 0.25s linear;

        &:hover,&:active{
            color: $color_darkaccent;
        }
    }
}




