
.nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: em(180);
    grid-row: 1/2;
    grid-column:1/4;
}


.logo{
    grid-column: 3/5;
    grid-row:1/2;
    height: 100%;
    width: 60%;
    

}

.nazov{
    font-family: 'Bebas Neue', cursive;
    grid-column: 1/2;
    grid-row:1/2;
    font-size: em(32);
    font-weight: 700;
    color: $color_darkaccent;
    align-self: center;
    padding: em(4);
    border-radius: em(4,32);
    border: em(0.25) solid darken($color_lightaccent,22%);
    
    


    &:hover,&:active{
        box-shadow: em(1) em(1) em(8) $color_lightaccent;
        transition: box-shadow 0.4s ease;
        transform: translateY(em(1,32));
    }
    
    
    
}

