* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  letter-spacing: 0.125em;
  line-height: 1.25em;
  background-color: #eee1e2;
  background-image: url(../img/backgroundver2.svg);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  font-family: 'Lobster', cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 3fr 0.5fr;
      grid-template-rows: 0.5fr 3fr 0.5fr;
  width: 100vw;
  height: 100vh;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11.25em;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.logo {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 100%;
  width: 60%;
}

.nazov {
  font-family: 'Bebas Neue', cursive;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 2em;
  font-weight: 700;
  color: #b55a58;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.25em;
  border-radius: 0.125em;
  border: 0.01562em solid #995659;
  cursor: pointer;
}

.nazov:hover, .nazov:active, .nazov:focus {
  -webkit-box-shadow: 0.0625em 0.0625em 0.5em #c6999b;
          box-shadow: 0.0625em 0.0625em 0.5em #c6999b;
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.autorcon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.25fr 1fr 0.25fr;
      grid-template-columns: 0.25fr 1fr 0.25fr;
  -ms-grid-row: 3;
  grid-row: 3/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 0.75em 0;
  border-top: 0.0625em solid #4c251c;
  background-color: #d7a7a6;
  font-size: 0.75em;
}

.autorcon .fab, .autorcon .fas {
  font-size: 1.125em;
  padding: 0 0.75em;
  font-weight: 800;
  color: #4c251c;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.autorcon .fab:hover, .autorcon .fab:active, .autorcon .fas:hover, .autorcon .fas:active {
  color: #b55a58;
}

.grid {
  -ms-grid-columns: 0.7fr 1fr;
      grid-template-columns: 0.7fr 1fr;
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
  letter-spacing: 0.125em;
}

.container_pictures {
  margin-left: 2.625em;
}

.wraper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.1fr 0.5fr 0.1fr;
      grid-template-columns: 0.1fr 0.5fr 0.1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5625em;
  height: 100%;
  width: 80%;
}

.picture {
  position: relative;
  top: 0.25em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.changing_picture {
  display: inline;
  position: relative;
  height: 10.0625em;
  width: 10.4375em;
  bottom: 22%;
  right: 175%;
}

.changing_picture .adding {
  width: 100%;
  height: 100%;
}

#bgr {
  background-color: #f5c56d;
  height: 38.1875em;
}

.container {
  margin: 0.625em;
  padding: 0.9375em;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  justify-items: flex-start;
}

.color_choosing {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.color_picker_position {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 1.5625em;
}

.color_picker_position p {
  padding-bottom: 1.375em;
}
/*# sourceMappingURL=changing.css.map */